.header__lang-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  margin-left: 18px;
  color: #fff;
}

.header__lang-link:hover{
  transition: opacity .5s;
  opacity: .8;
}

@media screen and (max-width: 720px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
