.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  justify-content: center;
}
