.intro__list {
  max-width: 690px;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  margin: 33px 0 0;
  padding: 0;
}

@media screen and (max-width: 928px) {
  .intro__list {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .intro__list {
    max-width: 288px;
    margin: 34px 0 0;
  }
}
