.lead__title {
  max-width: 760px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
