.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 92px 0 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 928px) {
  .intro {
    max-width: 720px;
    padding: 88px 0 0;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    max-width: 288px;
    padding: 64px 0 0;
  }
}
