.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: inherit;
  padding: 0;
  margin: 12px 0 0
}


.place__link:hover {
  cursor: url(/images/Pointer.png), pointer;
}
