.cover__overlay {
  max-width: 100%;
  max-height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: 1;
}

.cover__overlay:hover {
  opacity: .8;
  z-index: 1;
}
