.cover__background {
  max-width: 100%;
  min-height: 740px;
  background-image: url(/images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
