.cover__background {
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
  color: inherit;
}

.cover__background::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: 1;
  transition: opacity .3s;
  }

.cover__background:hover::before {
  transition: opacity .5s;
  opacity: .8;
  z-index: 1;
}

@media screen and (max-width: 1184px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 928px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 720px) {
  .cover__background {
    min-height: 200px;
  }
}
