.intro__title {
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 928px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
